
@import "normalize.css";

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

.container {
    margin: 0;
    padding: 0;
    width: 320px;
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 -6px 20px 0px rgba(0, 0, 0, 0.02),
  16px 0px 50px 0px rgba(0, 0, 0, 0.2);
   
}

.header__container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 47px;
   }

   .header__item {
    margin: 0;
    padding: 0;
   
       }

    .button {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px; 
        border: none; 
        background-color: transparent;
    }  

    .button__burger {
        margin-right: 17px;
    }
    
    .logo {
        margin: 0;
        padding: 0;
        width: 97px;
        height: 51px;
        background-color: transparent;
        margin-right: 78px;
    }

    .main-menu {
        margin: 0;
        padding: 0;
        width: 222px;
       padding-bottom: 32px;
    }

    .title {
       margin: 0;
       padding: 0;
       display: flex;
       align-items: center;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: -0.2px;
       line-height: 24px; 
       color: #7E7E82;
       font-family: 'TT Lakes', sans-serif;
         margin-bottom: 28px;  
    }

    .title__highlight::before {
        content: "";
        padding: 0;
        margin: 0;
        width: 4px;
        height: 32px;
        background-color:  #41F6D7;
       margin-right: 20px;
       border-top-right-radius: 90px;
       border-bottom-right-radius: 90px;        
    }

    .menu__navigation {
        padding: 0;
        margin: 0;
        list-style: none;
       
            }
            .menu__navigation .menu__list {
                display: block;
                padding-bottom: 32px;
                padding-left: 24px;
                font-size: 16px;
       font-weight: 500;
       letter-spacing: -0.2px;
       line-height: 24px;
       font-family: 'TT Lakes', sans-serif;
       color: #1B1C21;
       text-decoration: none;
       text-wrap: wrap;
            }

    .menu__list:hover {
          opacity: 0.6;
          transition-duration: 2s;
          transform: scale(1.1);
          color: red;
    }

.footer__contact {
    width: 196px;
    height: 124px;
    margin-left: 24px;
    margin-bottom: 40px;
    margin-top: 236px;
}

.btn {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-right: 16px;
    margin-bottom: 16px;
    }

.contact-post {
    display: block;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: -0.2px;
       line-height: 24px;
       font-family: 'TT Lakes', sans-serif;
       color: #1B1C21;
    padding-bottom: 12px;
   
}

.contact-number {
    display: block;
    font-size: 24px;
       font-weight: bold;
       letter-spacing: -0.6px;
       line-height: 32px;
       font-family: 'TT Lakes', sans-serif;
       color: #1B1C21;    
}

.footer__lang {
    margin: 0;
    padding: 0;
    margin-left: 24px;
    width: 87px;
    height: 24px;
        }

    .label {
        margin: 0;
        padding: 0;
        font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    font-family: 'TT Lakes', sans-serif;
    color: #1B1C21;
    }

.input-radio {
    visibility: hidden;
    position: absolute;
  }
  .input-radio:checked + .label {
    opacity: 0.3;
  }
   