
@import 'normalize.css';

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow-x: hidden;
    
    }  

@media (min-width: 768px) {
    body {             
        min-width: 768px;
            }
}

@media (min-width: 1120px) {
  body { 
    min-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
  margin: 0;
  padding: 0;
        min-width: 320px;
    height: 88px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   margin: 0 auto;
   border-bottom: 1px solid #D9FFF5;
               }
        
      @media (min-width: 768px) {
        .header__container{         
               min-width: 768px;        
     }
       }

       @media (min-width: 1120px) {
        .header__container{         
          display: none;
                 
     }
       }
                
    .menu__menu-button {
        margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px; 
    margin-right: 17px;
       }

       @media (min-width: 768px) {
        .menu__menu-button {
        margin-left: 24px;
       }
      }      

       @media (min-width: 768px) {
        .menu {                
            display: flex;
            align-items: center;            
        }
    }

@media (min-width: 768px) {
    .menu.is-divider::after {
       margin: 0;
       padding: 0;
        content: "";
      width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  
  margin-right: 21px;
    }
} 

  .logo__logo-icon {
    padding: 0;
    margin: 0;
    width: 97px;
    height: 51px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 17px;
 }

 @media (min-width: 768px) {
    .logo__logo-icon {
        margin-right: 251px;
    }
 }

 .call {
    margin: 0;
    display: none;
 }

 @media (min-width: 768px) {
    .call {            
        margin: 0;
        display: flex;
        align-items: center;
        
    }
}


 @media (min-width: 768px) {
    .call__call-button {
        margin:0;
         padding: 0;           
        background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;  
    margin-right: 16px;
    }
 }
 
 .chat {
    margin: 0;
    display: none;
 }

 @media (min-width: 768px) {
    .chat {
        margin: 0;
    display: flex;
    align-items: center; }
}

 @media (min-width: 768px) {
    .chat__chat-button {
        margin: 0;
         padding: 0;         
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;  
        margin-top: 24px;
    margin-bottom: 24px;
        margin-right: 16px;
    }
 }

 .profile {
    margin: 0;
    display: none;
 }

 @media (min-width: 768px) {
    .profile {
        margin: 0;
        display: flex;
        align-items: center;
    }
}

 @media (min-width: 768px) {
    .profile__profile-button {
        margin: 0;
         padding: 0;          
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px; 
        margin-top: 24px;
    margin-bottom: 24px; 
        margin-right: 20px;
    }
 }

 .repair {
    margin: 0;
    display: flex;
    align-items: center; 
    }

.repair.is-divider::before {
    margin: 0;
    content: "";
     width: 2px;
  height: 32px;
  background-color: #EAEAEA;
 margin-right: 18px;  
}

 .repair__repair-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
          }
  
 .checkstatus__checkstatus-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px; 
          }

          @media (min-width: 768px) {
            .checkstatus__checkstatus-button {
                margin-right: 24px; 
          }
          }

    .container-main {
            margin: 0;
            padding: 0;
            background-color: #F8F8F8;
            min-width: 320px;
            padding-top: 24px;
          }

          @media (min-width: 1120px) {
            .container-main {
              padding: 0;
              min-width: 1120px;
          }
          } 

          @media (min-width: 768px) {
            .container-main {
                min-width: 769px;
                          }
          }
          @media (min-width: 1120px) {
          .container__menu-descktop{
margin: 0;
padding: 0;
display: flex;
margin-bottom: 8px;
          }
        }
          @media (min-width: 1120px) {
          .container__menu {
            margin: 0;
            padding: 0;
            width: 1096px;
            height: 130px;
            padding-top: 42px;
            margin-left: 1px;
            margin-right: 25px;
                     
          }
          }

          .container-main__content {
            margin: 0;
            padding: 0;
                  display: flex;
            align-items: flex-start;
            margin: 0;
            padding: 0;
                     width: 304px;                       
                height: 40px; 
                          margin-bottom: 24px; 
                           
                      }

     @media (min-width: 768px) {
     .container-main__content {
        width: 257px;
        margin-bottom: 32px;                          
                        }
                      }

                      @media (min-width: 1120px) {
                        .container-main__content {
                          display: flex;
                          width: 266px;
                          margin-bottom: 8px;
                        }
                      }

  .container-main__title-content {
           margin: 0;
             font-size: 28px;
            line-height: 40px;
            letter-spacing: -0.6px;
            font-weight: bold;
            font-family: 'TT Lakes', sans-serif;
            padding-right: 16px;
          
          }

          @media (min-width: 768px) {
            .container-main__title-content {
              width: 233px;
              padding-right: 0;
                          }
            }

            .title__content {
              margin: 0;
              white-space: nowrap;
            }

          
          .container-main__content.highlight::before {
            padding: 0;
            margin: 0;
            content: "";
            width: 4px;
            height: 40px;
            margin: 0 auto;
            background-color: #41F6D7;
            margin-right: 12px;
            margin-left: 0;
            border-top-right-radius: 90px;
          border-bottom-right-radius: 90px;
          }

          @media (min-width: 768px) {
            .container-main__content.highlight::before {
              
              margin-right: 20px;
            }

          }

          @media (min-width: 1120px) {
            .container-main__content.highlight::before {
              margin-right: 30px;
            }
          }

          .service {
            display: none;
          }
          @media (min-width: 1120px) {
            .service {
              display: flex;
              margin-left: 450px;
            }
          }
          @media (min-width: 1120px) {
        .service__button {
          display: flex;
          margin: 0;
    padding: 0;
    display: flex;
  align-items: center; 
    border: none;
    background-color: transparent;
    font-family: 'TT Lakes', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
       color: #1B1C21;
        } 
      }
      @media (min-width: 1120px) {
      .service__icon {
        margin: 0;
    padding: 0;                   
    width: 40px;
    height: 40px;
    margin-left: 8px;
         }
    }

    @media (min-width: 1120px) {
    .repair-ic {
      margin-right: 32px;
    }
  }

  @media (min-width: 1120px) {
    .checkstatus-ic {
      margin-right: 7px;
    }
  }
       
          .navigation {
            padding: 0;
            margin: 0;
            margin-left: 16px;
            height: 40px;
            margin-bottom: 24px;
               }

          @media (min-width: 768px) {
            .navigation {
              margin-left: 24px;
              margin-bottom: 32px;
            } 
           }

           @media (min-width: 1120px) {
            .navigation {
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              margin-left: 32px;
              margin-right: 13px;
              margin-top: 8px;
            } 
           } 

           .navigation__container {
            padding: 0;
            margin: 0;
           }

           
          .navigation__list {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            overflow: scroll;
            margin-left: 0;
            padding: 0;
           
          }

          @media (min-width: 1120px) {
          .navigation__list {
           flex-wrap: wrap;
           
           
           }
        }

          .navigation__list::-webkit-scrollbar {
            margin: 0;
            padding: 0;
                  width: 0;               
            }

            @media (min-width: 1120px) {
              .navigation__list::-webkit-scrollbar {
               display: none;               
                }}
                    
               .navigation__list::after {
              margin: 0;
              padding: 0;    
              content: "";
              position: absolute;
              right: 0%;
              width: 24px;
              height: 38px;
              background: linear-gradient(
                270deg,
                #f8f8f8 16.84%,
                rgba(248, 248, 248, 0.0001) 100%
              );   
             } 

             @media (min-width: 768px) {
              .navigation__list::after {
                margin: 0;
                padding: 0;    
                content: "";
                position: absolute;
                right: 0%;
                top: 48%;
                width: 24px;
                height: 33px;
                background: linear-gradient(
                  270deg,
                  #f8f8f8 16.84%,
                  rgba(248, 248, 248, 0.0001) 100%
                );   
               }
              }

              @media (min-width: 1120px) {
               .navigation__list::after {
                display: none;
               }
              }

            .navigation__button {
              margin: 0;
              padding: 0;
              letter-spacing: -0.2px;
              border-radius: 6px;
              border: none;
              font-family: 'TT Lakes', sans-serif;
              font-weight: 500;
              line-height: 24px;
              font-size: 16px;
              white-space: nowrap;
              color: #7E7E82;
              background-color: transparent;
          }
          
          .navigation__button_active {
              margin: 0;
              padding: 0;
              padding-top: 6px;
              padding-bottom: 6px;
              padding-left: 16px;
              padding-right: 8px;
              border: 2px solid transparent;
          }

          @media (min-width: 768px) {
          .navigation__button_active {
          padding-top: 9px;
         padding-bottom: 7px;
         padding-left: 23px;
         padding-right: 22px;
          }
        }

              .navigation__button_active:hover,.navigation__button_active:focus, .navigation__button_active:active  {
              margin: 0;
              padding: 0;
              background-color: #FFFFFF;
              border: 2px solid #B8FFEC; 
                  }

                  @media (min-width: 1120px) {
                  .navigation__button_active:hover,.navigation__button_active:focus, .navigation__button_active:active  {
            display: none;
                  }
                }

                  .navigation__button_active-one  {
                    display: none;
                  }
          
          @media (min-width: 1120px) {
            .navigation__button_active-one  {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            padding-top: 7px;
            padding-bottom: 6px;
            padding-left: 23px;
            padding-right: 22px;
            border: 2px solid transparent; 
                }
        }

        .navigation__button_active-one:hover,.navigation__button_active-one:focus,
        .navigation__button_active-one:active {
          display: none;
        }

        @media (min-width: 1120px) {
          .navigation__button_active-one:hover,.navigation__button_active-one:focus,
          .navigation__button_active-one:active {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            padding-top: 7px;
            padding-bottom: 6px;
            padding-left: 23px;
            padding-right: 22px;
            background-color: #FFFFFF;
            border: 2px solid #B8FFEC; 
          }
        }
          
          .navigation__button-two {
              margin: 0;
              padding: 0;
              padding-top: 6px;
              padding-bottom: 6px;
             padding-left: 20px;
             padding-right: 47px;
           
             }
          
             @media (min-width: 768px) {
              .navigation__button-two {
             padding-left: 16px;
             padding-right: 10px;
                 }
            }

            @media (min-width: 1120px) {
              .navigation__button-two {
              display: none;
                 }
            }
          
             .navigation__button-three {
              margin: 0;
              padding: 0;
              display: none;
             }
          
             @media (min-width: 768px) {
              .navigation__button-three {
                display: flex;
              align-items: center;
              padding-top: 8px;
              padding-bottom: 8px;
                 padding-left: 15px;
             margin-right: 13px;
               }
             }

             @media (min-width: 1120px) {
              .navigation__button-three {                              
              padding-top: 9px;
              padding-left: 19px;
              padding-right: 15px;
             margin-right: 0;
               }
             }

             @media (min-width: 1120px) {
             .navigation__button-three3 {  
          display: flex;
           align-items: center;  
           margin: 0;                          
              padding-top: 9px;
              padding-bottom: 7px;
              padding-left: 12px;
             padding-right: 4px;
               }
              }

              .navigation__button-three3 {
                display: none;
              } 

                       
             .navigation__button-four {
              margin: 0;
              padding: 0;
              display: none;
             }
          
             @media (min-width: 768px) {
              .navigation__button-four {
                margin: 0;
                padding: 0;
                      display: flex;
              align-items: center;
              padding-top: 8px;
              padding-bottom: 8px;
                 padding-left: 23px;
             margin-right: 31px;
               }
             }

             @media (min-width: 1120px) {
              .navigation__button-four {
                
                padding-top: 8px;
              padding-bottom: 7px;
                 padding-left: 17px;
                 padding-right: 12px;
                 margin: 0;
               }
             }

             .navigation__button-five {
             
              display: none;
             }

             @media (min-width: 1120px) {
              .navigation__button-five {
                margin: 0;
                padding: 0;
                      display: flex;
              align-items: center;
              padding-top: 13px;
              padding-bottom: 3px;
                 padding-left: 24px;
             padding-right: 4px;
                          }
             }
             

  .blok_ferst {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
     gap: 16px 0;
     
       }

       @media (min-width: 768px) {
        .blok_ferst {
          flex-direction: row;
          gap: 0 48px;
          margin-left: 24px;
          margin-bottom: 40px;
        }
      }

      @media (min-width: 1120px) {
        .blok_ferst {
          flex-direction: row;
          gap: 0 36px;
          margin-top: 36px;
          margin-left: 34px;
          
        }
      }
     
     
  .blok_ferst__article {
    padding: 0;
   margin: 0;
     height: 90px;
   width: 288px;
   margin-left: 16px;
     overflow: hidden; 
       }

  @media (min-width: 768px) {
  .blok_ferst__article {
    margin: 0;
    height: 160px;
    width: 312px;
    
     }
}

@media (min-width: 1120px) {
  .blok_ferst__article {
    margin: 0;
    width: 490px;
       
  }}

  .blok_ferst__text {
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #1B1C21;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    
  }

  @media (min-width: 768px) {
    .blok_ferst__text {
         line-height: 20px;
    }
   }
   @media (min-width: 768px) {
   .blok_ferst__text-btn {
    margin: 0;
    display: flex;
    flex-direction: column;
     gap: 16px;
   }
  }

     .readMore {
    padding: 0;
   margin: 0;   
   width: 132px;
   height: 24px;
   margin-left: 16px;
   }

   @media (min-width: 768px) {
    .readMore {
      padding: 0;
     margin: 0;  } 
   }

   .expand-button__text-button {
    margin: 0;
    padding: 0;
    display: flex;
  align-items: center; 
    border: none;
    background-color: transparent;
    font-family: 'TT Lakes', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
       color: #1B1C21;
               }

   .expand-ic {
    margin: 0;
    padding: 0;                   
    width: 24px;
    height: 24px;
    margin-right: 8px;
    }

    .picture {
      padding: 0;
      margin: 0;
      width: 318px;
      height: 174px;
        
    }

    @media (min-width: 768px) {
      .picture {
        width: 360px;
        height: 207px;
      }
     }

     @media (min-width: 1120px) {
      .picture {
        width: 537px;
        height: 307px;
      }
     }

    .picture__logo {
      max-width: 100%;
      border: 2px #FFFFFF;
      margin-top: auto;
      margin-bottom:auto;
    }

    @media (min-width: 768px) {
      .picture__logo {
        width: 360px;
        height: 207px;
      border-radius: 6%;
      
      }
         }

         @media (min-width: 1120px) {
          .picture__logo {
            width: 537px;
            height: 307px;
          border-radius: 0;
          padding-bottom: 49px;
          
          }
             }
         